.menu{
  background-color: white;
}

.btn{
  border: 1px solid rgb(225, 225, 225);
  background-color: white;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover{
  background-color: rgb(246, 246, 247);
}

.btnEntrar{
  background-color: #2563EB;
  width: 100px;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.btnEntrar:hover{
  background-color: #2a53aa;
}